.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 80%;
  row-gap: 2em;
  column-gap: 2em;
}

.main > h1,
.main > h3,
.card-suspense {
  letter-spacing: 2px;
}

.card-suspense {
  width: 100%;
  text-align: center;
}

